@model IEnumerable<dragonchau.Models.Medicine>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<form method="get" action="@Url.Action("Index")">
	<p>
		Find by name or brand: @Html.TextBox("searchString")
		<input type="submit" value="Search" />
	</p>
</form>

<table id="medicineTable" class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.MedicineName)</th>
			<th>@Html.DisplayNameFor(model => model.MedicinePrice)</th>
			<th>@Html.DisplayNameFor(model => model.MedicinePrice_Sell)</th>
			<th>@Html.DisplayNameFor(model => model.MedicineImg)</th>
			<th>@Html.DisplayNameFor(model => model.MedicineExp)</th>
			<th>@Html.DisplayNameFor(model => model.MedicineDescription)</th>
			<th>@Html.DisplayNameFor(model => model.MedicineIngredients)</th>
			<th>@Html.DisplayNameFor(model => model.Available)</th>
			<th>@Html.DisplayNameFor(model => model.Brand.BrandName)</th>
			<th>@Html.DisplayNameFor(model => model.MedicineCate) </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr data-id="@item.MedicineID" class="open-dialog">
				<td>
					@Html.DisplayFor(modelItem => item.MedicineName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicinePrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicinePrice_Sell)
				</td>
				<td>
					@if (item.MedicineImg != null && item.MedicineImg.Length > 0)
					{
						<img src="data:image/jpeg;base64,@Convert.ToBase64String(item.MedicineImg)" alt="Medicine Image" style="max-width:100px;" />
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicineExp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicineDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicineIngredients)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Available)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Brand.BrandName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicineCate)
				</td>
			</tr>
		}

	</tbody>
</table>

<div id="medicineDetailsModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- AJAX content will be loaded here -->
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
	<script>
        $(document).ready(function () {
            $(".open-dialog").on("click", function (e) {
                e.preventDefault();
                var url = "@Url.Action("Edit", "Medicines")/" + $(this).data("id");
                $("#medicineDetailsModal .modal-content").load(url, function () {
                    $('#medicineDetailsModal').modal('show');
                });
            });
        });
	</script>
}