@model dragonchau.Models.Staff

@{
    <style>
        .delete-staff-button-container {
            margin-top: 90px;
            display:flex;
        }

        .delete-submit-staff-button {
            margin-left: 50px;
            background: #0D6EFD;
            display: inline-block;
            color: #fff;
            border-radius: 7px;
            width: 90px;
            padding: 8px;
        }

            .delete-submit-staff-button a {
                text-decoration: none;
                color: #fff;
            }


        .delete-cancel-staff-button {
            margin-left: 50px;
            background: red;
            display: inline-block;
            color: #fff;
            border-radius: 7px;
            width: 70px;
            line-height:38px;
            text-align:center;
            padding: 8px;
        }

            .delete-cancel-staff-button a {
                text-decoration: none;
                color: #fff;
            }
    </style>
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Staff</h2>

<h3>Are you sure you want to delete this?</h3>
<!--row 1-->
<div class="row">
    <div class="col-6 col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>
    </div>
    <div class="col-6 col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.StaffPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffPhone)
        </dd>
    </div>
    <div />
    <!--row 2-->
    <div class="row">
        <div class="col-6 col-md-4">

            <dt>
                @Html.DisplayNameFor(model => model.StaffEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffEmail)
            </dd>
        </div>
        <div class="col-6 col-md-4">


            <dt>
                @Html.DisplayNameFor(model => model.StaffSalary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffSalary)
            </dd>
        </div>
        <div />
        <!--row 3-->
        <div class="row">
            <div class="col-6 col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.StaffIDnum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffIDnum)
                </dd>
            </div>
            <div class="col-6 col-md-4">


                <dt>
                    @Html.DisplayNameFor(model => model.StaffDateCreate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffDateCreate)
                </dd>
            </div>
            <div />
            <!--row 4-->


            <div class="row">
                <div class="col-6 col-md-4">

                    <dt>
                        @Html.DisplayNameFor(model => model.StaffIDnum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StaffIDnum)
                    </dd>
                </div>
                <div class="col-6 col-md-4">


                    <dt>
                        @Html.DisplayNameFor(model => model.Role.RoleName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Role.RoleName)
                    </dd>
                </div>
                <div />






                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="delete-staff-button-container">
                        <div class="delete-submit-staff-button"><input type="submit" value="Delete" class="btn btn-default" style="color:#fff;" /> </div>

                        <div class="delete-cancel-staff-button">@Html.ActionLink("Cancle", "Index")</div>
                    </div>
                }
            </div>
