@model IEnumerable<dragonchau.Models.Bill>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
	<h1 class="h3 mb-3 text-gray-800">Bán hàng</h1>
	<button class="btn btn-success text-center">
		@Html.ActionLink("Tạo hóa đơn", "Create", null, new { @class = "text-white text-decoration-none d-block mx-auto" })
	</button>
</div>
<table class="table">
	<tr>

		<th>
			@Html.DisplayNameFor(model => model.Customer.CustomerName)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Staff.StaffName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Total)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TotalQuantity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Discount)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BillDateCreate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BillStatus)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{

<tr>
			
			@if (item.CustomerID.HasValue)
			{
				<td>
					@Html.DisplayFor(modelItem => item.Customer.CustomerName)
				</td>
			}
			else 
			{
				<td>Khách vãng lai</td>
			}


			<td>
				@Html.DisplayFor(modelItem => item.Staff.StaffName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Total)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalQuantity)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Discount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BillDateCreate)
			</td>
			@if (item.BillStatus == true)
			{
				<td>
					Hoàn thành
				</td>
			}
			else
			{
				<td>
					Đã hủy
				</td>
			}
			<td>
				<button class="btn btn-success text-center">
					@Html.ActionLink("Details", "Details", new { id = item.BillID }, new { @class = "text-white text-decoration-none d-block mx-auto" })
				</button>
			</td>
		</tr>
	}

</table>
